html,
body {
    overflow: hidden;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background-color: #cccccc;
}

#controls {
    position: absolute;
    bottom: 0.5%;
    right: 0.5%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

#controls div {
    display: flex;
}

#controls ul {
    list-style-type: none;
    display: flex;
}

button {
    padding: 0.5rem;
}